@import "../../../../scss/variables.scss";

.Input-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & input {
    height: inherit;
    width: 100%;
    padding-right: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
  }

  & input:focus {
    outline: none; width: 100%;
    padding: 0 12px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  & .Input-text__view {
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 767px) {
  .Input-text {
    & .Input-text__view,
    & input {
      font-size: 16px;
      line-height: 20px;
      height: 20px;
    }
  }
}