@import "../../scss/mixines.scss";
@import "../../scss/variables.scss";

.Controls-layout {
  width: 100%;
  padding: calc(20px + var(--header-height)) 0 20px 0;
  @include flexCenter();
  align-items: flex-start;
  gap: 20px;
}

@media screen and (max-width: 767px) {
  .Controls-layout {
    flex-direction: column-reverse;
    align-items: center;
  }
}
