@import "../../scss/mixines.scss";
@import "../../scss/variables.scss";

.Battle-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.4;
}

.Battle-layout {
  width: 100%;
  height: 100vh;
  padding: calc(20px + var(--header-height)) 0 20px 0;
  @include flexCenter();
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 767px) {
  // .Controls-layout {
  //   flex-direction: column-reverse;
  //   align-items: center;
  // }
}
