@import '../../scss/variables.scss';
@import "../../scss/mixines.scss";

.Header {
    height: 60px;
    width: 100%;
    background-color: $color-light-yellow;
}

.Header__container {
    height: 100%;
    width: 100%;
    @include flexCenter();
    justify-content: flex-start;
    gap: 20px;
}