@import "../../../../scss/variables.scss";

.Setting-field {
  & .Form__lable {
    margin-bottom: 24px;
  }

  & .Setting-field__inputs-wrapper {
    position: relative;
    height: 68px;
    width: 100%;
    padding: 16px 24px;
    background-color: $color-grey;
    border: 2px solid $color-grey;
    border-radius: 16px;
  }

  & .Input-range {
    margin-top: 12px;
  }
}

.Setting-field.active {
  & .Setting-field__inputs-wrapper {
    background-color: transparent;
  }
}

.Setting-field.disabled {
  opacity: 0.4;
}

.Setting-field_initial {
  & .Input-text__view:after {
    content: "\20BD";
    position: relative;
    display: inline-block;
    top: -4px;
  }
}

@media screen and (max-width: 767px) {
  .Setting-field {
    & .Form__lable {
      margin-bottom: 8px;
    }

    & .Setting-field__inputs-wrapper {
      height: 60px;
    }

    & .Input-range {
      margin-top: 20px;
    }
  }

  .Setting-field_initial {
    & .Input-text__view:after {
      top: -2px;
    }
  }
}