@import "../../../../scss/variables.scss";
@import "../../../../scss/mixines.scss";

.Characters-wrapper {
  width: calc(50% - 10px);
  @include flexCenter();
  flex-direction: column;
}

.Characters-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.Characters-list__item {
  width: 100%;
  height: 30px;
  border: 2px solid $color-grey;
  border-radius: 8px;
  cursor: pointer;
  @include flexCenter();
  justify-content: flex-start;
  
  & span {
    width: 100%;
    padding: 0 12px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
  }
}

.Characters-list__item.selected {
  background-color: $color-active;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .Characters-list {
    width: 100%;
  }
}