@import '../../../../scss/mixines.scss';
@import '../../../../scss/variables.scss';

.Battle-character {
  width: 50%;
  max-height: 100%;
  display: flex;
  gap: 20px;
}

.Battle-character.enemy {
  flex-direction: row-reverse;
}

.Battle-character div {
  width: 100%;
  max-height: 100%;
  //    aspect-ratio: 1 / 1;

  & img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: top right;
    cursor: url(https://img.icons8.com/external-vectorslab-outline-color-vectorslab/53/null/external-Sword-gaming-vectorslab-outline-color-vectorslab.png),
      no-drop;
  }
}

.Battle-character__skils {
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  & li {
    @include notBreakWord();
  }
}

.Battle-character.enemy {
  & .Battle-character__skils {
    align-items: flex-end;
  }
  & div img {
    object-position: top left;
  }
}

@media screen and (max-width: 1023px) {
  .Battle-character__skils {
    display: none;
  }
}
