@import './scss/variables.scss';

:root {
  --header-height: 60px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-width: 360px;
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  color: $font-color;
  background-color: $background;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

h1,
h2,
h3,
a,
p,
button,
span,
textarea,
label,
input {
  font-family: $font;
  color: $font-color;
}

input[type="file"] {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  opacity: 0 !important;
  overflow: hidden !important;
  z-index: 100 !important;
  margin-top: -20px;
  padding-top: -20px;
  top: -20px;
}

@media screen and (max-width: 767px) {
  :root {
    --header-height: 40px;
  }
}