@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin notBreakWord {
  white-space: -moz-no-wrap; /* Firefox */
  white-space: -o-no-wrap; /* Opera */
  word-wrap: break-word; /* IE */
  white-space: nowrap;
}