$background: #ffffff;

$color-grey: #f3f3f4;
$color-light-yellow: #d8d8d8;
$color-active: cornflowerblue;

$font: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
$font-color: rgba(0, 0, 0, 0.87);
