@import "../../../../scss/mixines.scss";
@import "../../../../scss/variables.scss";

.Form {
  max-width: 740px;
  width: calc(50% - 10px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.Form__field:disabled {
  pointer-events: none;
}

.Form__lable {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
  @include notBreakWord();
}

@media screen and (max-width: 767px) {
  .Form {
    width: 100%;
  }

  .Form__lable {
    font-size: 14px;
    line-height: 16px;
  }
}
