@import "../../scss/mixines.scss";
@import "../../scss/variables.scss";

.Link {
  height: 48px;
  width: fit-content;
  padding: 0 24px;
  border-radius: 24px;
  background-color: $color-grey;
  @include flexCenter();
}

.Link:hover {
  background-color: $color-active;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .Link {
    height: 28px;
    font-size: 14px;
  }
}